.mytodoStart {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    padding-top: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.mytodoStart:hover {
    background-color: rgb(247, 80, 80);
}

.inprogress {
    background-color: rgb(53, 104, 245);
    font-size: 11px;
    padding-top: 2px;
    color: white;
    border: none;
}

.registered {
    background-color: rgb(46, 247, 106);
    font-size: 11px;
    padding-top: 2px;
    color: white;
    border: none;
}

.tag {
    font-size: 9px;
    padding-top: 3px;
    /* background-color: violet; */
    border: none;
}

#mytodopanelheading {
    /* border-left: 4px solid red; */
    border-left: 4px solid rgb(241, 29, 29);
    display: inline-block;
    line-height: 20px;
    height: 35px;
    margin-top: 20px;
    padding: 0 10px;
}

.mytodoHeading {
    font-size: 13px;
    font-weight: 700;
}

.mytodoData {
    font-size: 11px;
    text-align: center;
    margin-top: 6px;
    border-right: 1px solid rgb(90, 88, 88);
}

#mytodopanelbody {
    height: 384px;
}

#mytodo {
    padding-right: 0px;
}


/* 
.heading {
    border-left: 3px solid rgb(19, 18, 18);
    display: inline-block;
    line-height: 20px;
    margin-top: 20px;
    padding: 0 10px;
} */


/* .heading::before {
    content: '';
    border-left: 2px solid #000;
    position: absolute;
    height: 70%;
    left: 0;
    top: 25%; */


/* 
.tag {
    color: white;
    width: 100px;
    text-align: center;
}
 */


/* 
#pointer {
    width: 100px;
    height: 20px;
    position: relative;
    margin: 10px;
}

#pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 12px solid white;
    border-top: 12px solid transparent;
    border-bottom: 10px solid transparent;
} */

@media only screen and (max-width: 992px) {
    #mytodo {
        padding-left: 0px;
        padding-right: 0px !important;
    }
}