#performancepanelheading {
    border-left: 4px solid rgb(241, 29, 29);
    display: inline-block;
    line-height: 20px;
    height: 35px;
    margin-top: 20px;
    padding: 0 10px;
}


/* 
.performanceHeadinga {
    background-color: lavenderblush;
} */

.performance-colora {
    background-color: rgb(146, 235, 119);
    margin-top: 25px;
    margin-bottom: 25px;
}

.performance-colorb {
    background-color: rgb(146, 235, 119);
    margin-top: 25px;
    margin-bottom: 25px;
}

.performance-colorc {
    background-color: rgb(240, 42, 42);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.performance-colord {
    background-color: rgb(194, 189, 188);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.performance-colore {
    background-color: rgb(194, 189, 188);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.performance-img {
    margin-top: 5px;
}

.performanceImageb {
    margin-top: 5px;
}

.lista {
    display: flex;
}

.goal-content {
    padding: 10px 35px;
    color: white;
    font-weight: 600;
    white-space: nowrap;
}

.goal-content i {
    margin-right: 10px;
}

.completed {
    background-color: #08828D;
}

.inProgress {
    background-color: #76B646;
}

.notYetStarted {
    background-color: #919191;
}

.performance-block {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.performance-cards {
    display: flex;
    align-items: center;
}


/* 
.list {
    box-shadow: 10px 0px 5px rgb(134, 133, 133);
}

.lista {
    box-shadow: 2px 0px 5px #aaaaaa;
} */