.promoted-flex {
    display: flex;
}

#promotedpanelheading {
    border-left: 4px solid rgb(241, 29, 29);
    display: inline-block;
    line-height: 20px;
    height: 35px;
    margin-top: 20px;
    padding: 0 10px;
}

.promoted-list {
    margin-top: 43px;
}