.quicklinks-flex {
    display: flex;
    margin: 10px 0 10px;
}

#quicklinkspanelheading {
    border-left: 4px solid rgb(241, 29, 29);
    display: inline-block;
    line-height: 20px;
    height: 35px;
    margin-top: 20px;
    padding: 0 10px;
}

.quicklinksimage {
    margin-top: 6px;
}

#quicklinks {
    margin-top: 10px;
}


/* 
@media only screen and (min-width: 992px) {
    #quicklinkspanelbody {
        height: 210px;
    }
}*/

@media only screen and (max-width: 992px) {
    #quicklinkspanelbody {
        height: 349px;
    }
}

@media only screen and (max-width: 767px) {
    #quicklinkspanelbody {
        height: 192px !important;
        /* background-color: yellow !important; */
    }
}